<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>list data</title>
    </head>
    <body>
        <table border="1">
            <#list schools as school>
                <tbody>
                    <tr>
                        <td>${school.name}</td>
                        <td>${school.npsn}</td>
                    </tr>
                 </tbody>
            </#list>
        </table>

        <ul>
            <#list schools as school>
                <ol>
                    ${school.name}
                </ol>
            </#list>
        </ul>
        <#include "footer/template-footer.html">
    </body>
</html>