<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>School</title>
        <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet">
    </head>
    <body>
        <p class="text-uppercase">Npsn : ${school.npsn ! "datanya null"}</p>
        <p>Name : ${school.name}</p>
        <p>Address : ${school.address}</p>
        <p>Phone number : ${school.phoneNumber}</p>
        <p>Whatsapp number : ${school.whatsappNumber}</p>
        <p>email : ${school.email}</p>
        <td><a class="btn btn-warning">Edit Todo</a></td>
    </body>
</html>